@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&family=Nunito:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

li, a {
    font-family: "Nunito", SansSerif;
    font-weight: 600;
    font-size: 17px;
    color: #edf0f1;
    text-decoration: none;
}
body{
    font-family: Nunito,SansSerif;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 6%;
}

.logo {
    cursor: pointer;
    margin-right:auto;
    width: 165px;

}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 35px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.split-section{
    max-width: 120rem;
    height: 40rem;
    background: url("pictures/collage.jpg") no-repeat center center / cover;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
}

h1 {
    font-family: "Nunito", SansSerif;
    color: #edf0f1;
    text-align:center;
    width:200px;
    font-size: 35px;
    padding: 0px 45%;
    position: relative;
    margin-bottom: 28px;
}
.host-one{
    display:flex;
}
.host-one .AimarP{
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    width: 40rem;
    height: 30rem;
    background: url("pictures/Aimar.JPG") no-repeat center center / cover;
}

.about-Aimar{
    font-family: Nunito, SansSerif;
    font-weight: 400;
    color: #edf0f1;
    margin-top: 3rem;
    margin-left: 2rem;
    padding:3px
}
.about-Aimar p{
    margin-top: 0.8rem;
}

.host-two{
    display: flex;
}
.host-two .FahiiidarP{
    margin-top: 1.5rem;
    margin-left: 2.5rem;
    width: 40rem;
    height: 30rem;
    background: url("pictures/Fareedah.jpg") no-repeat center center / cover;
}

.about-Fahiiidar{
    font-family: Nunito, SansSerif;
    font-weight: 400;
    color: #edf0f1;
    padding: 3px;
    margin-top: 3rem;
    margin-left: 2rem;
}

.about-Fahiiidar p{
    margin-top: 0.8rem;
}

.footer {
     padding: 40px 0;
    background-color: black;
}

.footer .social {
    text-align: center;
    padding-bottom: 20px;
    color: #edf0f1;
}

.footer .social a {
    font-size: 42px;
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 0px 15px;
}

.footer ul{
    font-family: Nunito, SansSerif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;

}

.footer ul li a {
    color: #edf0f1;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    padding: 0 30px;
}

.footer .copyright {
    font-family: Nunito, SansSerif;
    font-weight: 300;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #edf0f1;
}

#blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.blog-heading{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog-heading span{
    color: #edf0f1;
    font-family: "Nunito", SansSerif;
    font-weight: 600;
    font-size: 2.9rem;


}

.blog-heading h3{
    font-weight: 400;
    font-family: "Nunito", SansSerif;
    color: #edf0f1;
    font-size: 1.5rem;
}

.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    flex-wrap: wrap;
}

.blog-box {
    width:350px;
    background-color: white;
    margin: 20px;
}

.blog-img{
    width: 100%;
    height: auto;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog-text{
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.blog-text span{
    color: #edf0f1;
    font-family: Nunito, SansSerif;
    font-weight: 300;
    color: darkgoldenrod;
    font-size: 1rem;
}

.blog-text .blog-title{
    font-family: Nunito, SansSerif;
    font-weight: 300;
    font-size: 1.4rem;
}

.blog-text .blog-title:hover{
    color: darkgoldenrod;
    transition: all ease 0.3s;
}

.blog-text p{
    color: #edf0f1;
    font-family: Nunito,SansSerif;
    font-weight: 300;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 5px 0px;
}

.blog-text p:hover{
    color: darkgoldenrod;
    transition: all ease 0.3s;
}

.blog-text a{
    color: #edf0f1;
    padding: 2px;
    font-family: Nunito,SansSerif;
    font-weight: 300;
    font-size: 0.9rem;
}

.blog-text a:hover{
    color: darkgoldenrod;
    transition: all ease 0.3s;
}

.container{
    width: 80%;
    background: #edf0f1;
    color: black;
    text-align: left;
    margin: 20px auto;
}

.contact-box{
    background: #edf0f1;
    color: black;
    display: flex;

}

.contact-left{
    flex-basis: 60%;
    background: #edf0f1;
    color: black;
    padding: 30px 60px;
}

.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #edf0f1;
    text-align: center;

}

.container h2{
    margin-bottom: 10px;
    color: #edf0f1;
    font-family: Nunito,SansSerif;
    font-weight: 600;
    font-size: 2.5rem;
}

.container p{
    margin-bottom: 40px;
    font-family: Nunito,SansSerif;
    background: #edf0f1;
    text-align: center;
    color: black;
    font-weight: 300;
    font-size: 1.5rem;
}

.input-row{
    justify-content: space-between;
    margin-bottom: 20px;
    background: #edf0f1;
    color: black;
}

.input-row .input-group{
    flex-basis: 45%;
    padding-top: 10px;
    padding-bottom: 30px;
    background: #edf0f1;
    color: black;
    border-bottom: black;

}

input{
    width: 100%;
    background: #edf0f1;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 2px;

}

textarea{
    width: 100%;
    background: #edf0f1;
    color: black;
    border: 1px solid black;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    background: #edf0f1;
    color: black;
    display: block;
    color: black;
}
button{
    background: goldenrod;
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
}
.contact-left h3{
    color: black;
    background: #edf0f1;
    font-weight: 300;
    margin-bottom: 30px;
}
.contact-right h3{
    color: black;
    background: #edf0f1;
    font-weight: 300;
    margin-bottom: 30px;
}


tr td:first-child{
    border-color: #edf0f1;
    background: #edf0f1;
    padding-right: 30px;
    padding-left: 20px;
}
tr td{
    background: #edf0f1;
    border: #edf0f1;
    padding-top: 90px;
    padding-left: 10px;
    display: compact;
}

.blogread-container{
    background-color: black;
}
.hero{
    max-width: 80rem;
    height: 45rem;
    background: url("pictures/allison-saeng-MBiH9abzPEc-unsplash.jpg") no-repeat center center / cover;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

main{
    width: 100%;
    margin:0;
    max-width: 80.5rem;
    padding: 2rem;
    border-radius: 1.5rem;
    margin-top: -25rem;
    margin-left: 2rem;
    background-color: #E9E6DF;
}
main h2{
    font-size: 2rem;
    background-color: #E9E6DF;
    font-weight: 400;
    font-family: "Nunito", SansSerif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main p{
    background-color: #E9E6DF;
}
main b{
    background-color: #edf0f1;
}
main .content{
    margin-left: 2rem;
    margin-top: 1.1rem;
    background-color: #E9E6DF;
}
main h4{
    background-color: #E9E6DF;
}
main h3{
    background-color: #E9E6DF;
}
main a{
    background-color: #E9E6DF;
    font-family: "Nunito", SansSerif;
    font-weight: 600;
    font-size: 17px;
    color: lightblue;
    text-decoration: none;
}
main blockquotes{
    background-color: #E9E6DF;
}

main .profile-container{
    display: flex;
    background-color: #E9E6DF;
    align-items: center;
    margin: 1rem;
}

main .profile-container .profile{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E9E6DF;
}

main .profile-container .profile .img-container{
    width: 3.3rem;
    height: 3.3rem;
    background: url("pictures/Fareedah.jpg") no-repeat center center / cover;
}

main .profile-container .profile .img-container-2{
    width: 3.3rem;
    height: 3.3rem;
    background: url("pictures/Aimar.JPG") no-repeat center center / cover;
}

main .profile-container .profile .img-container-3{
    width: 3.3rem;
    height: 3.3rem;
    background: url("pictures/Fareedah.jpg") no-repeat center center / cover;
}

main .profile-container .profile .text{
    margin: 0 1rem;
    font-family: Nunito, SansSerif;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1px
}

.profile .text h3{
    text-transform: uppercase;
}
